all.role server
all.manager REDI_NODE_PLACEHOLDER:REDI_PORT_PLACEHOLDER
all.sitename US_CMS_DATALAKE_ORIGIN_PORT_PLACEHOLDER

cms.space min 512m 1g
cms.allow host *

all.export /
oss.localroot /mnt

if exec xrootd
  acc.authdb /etc/xrootd/auth-file
  xrd.port PORT_PLACEHOLDER
  xrootd.seclib /usr/lib64/libXrdSec.so
  xrootd.chksum max 2 adler32
  # GSI (x509)
  # ofs.osslib libXrdPss.so
  ofs.authorize 1
  sec.protocol /usr/lib64 gsi \
    -certdir:/etc/grid-security/certificates \
    -cert:/etc/grid-security/xrd/xrdcert.pem \
    -key:/etc/grid-security/xrd/xrdkey.pem \
    -crl:1 \
    -authzfun:libXrdLcmaps.so \
    -authzfunparms:lcmapscfg=/etc/lcmaps.db,loglevel=5,policy=authorize_only \
    -gmapopt:10 -gmapto:0
  # HTTP
  xrd.protocol http:PORT_PLACEHOLDER /usr/lib64/libXrdHttp.so
  http.header2cgi Authorization authz
  http.cadir /etc/grid-security/certificates
  http.cert /etc/grid-security/xrd/xrdcert.pem
  http.key /etc/grid-security/xrd/xrdkey.pem
  http.exthandler xrdtpc libXrdHttpTPC.so
  http.listingdeny yes
  http.desthttps yes
  http.secxtractor /usr/lib64/libXrdLcmaps.so
  # SciTokens
  # ofs.authorize
  # ofs.authlib libXrdAccSciTokens.so
fi

xrd.trace debug
http.trace debug
ofs.trace all
pfc.trace all
